---
Language:                         Cpp
BasedOnStyle:                     Webkit
AccessModifierOffset:             -2
BreakBeforeBraces:                Linux
ColumnLimit:                      80
IndentWidth:                      2
DerivePointerAlignment:           false
PointerAlignment:                 Left
NamespaceIndentation:             None
